:root {
  --ss-clr: rgb(186,13,47);
  --link-clr: rgb(24, 44, 184);
  --head-height: 70px;
  --head-font-sz: 24px;
  --font-sz: 16px;
  --font-fam: Arial;
}

.header {
  background-color: var(--ss-clr);
  color: white;
  height: var(--head-height);
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: var(--head-height);
}

.left-section {
  display: flex;
  flex: 1;
  align-items: center;
  height: var(--head-height);
}

.logo {
  display: flex;
  margin-left: 20px;
  width: 200px;
}

.middle-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 1.5;
  height: var(--head-height);
}

.link {
  text-decoration: underline;
  color: white;
  font-size: var(--head-font-sz);
}

.home,
.faq {
  margin-right: 10px;
}

.link:hover,
.footer-links:hover {
  color: var(--link-clr);
}

.right-section {
  display: flex;
  justify-content: right;
  flex: 1;
  height: var(--head-height);
}

/* FOOTER */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer{
  display: flex;
  flex-direction: row;
  background-color: var(--ss-clr);
  color: white;
  height: 100px;
  margin-top: auto;
  min-width: 100%;
  margin-left: -8px;
  margin-bottom: -8px;
  margin-right: -8px;
  padding: 8px;
}

/* FOOTER LEFT */

.footer-left {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  margin-top: -10px;
}

.web-nav {
  font-size: 14px;
  font-family: var(--font-fam);
  margin-bottom: 8px;
}

.footer-links {
  font-size: 12px;
  font-family: var(--font-fam);
  color: white;
  margin-bottom: 4px;
  text-decoration: none;
}

/* FOOTER MIDDLE */
.footer-middle {
  display: flex;
  align-items: end;
  margin-bottom: -10px;
}

/* FOOTER RIGHT */
.footer-right {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  margin-top: -10px;
}

.socials {
  font-size: 14px;
  font-family: var(--font-fam);
  margin-bottom: 4px;
}

.ss-footer {
  display: flex;
  align-items: end;
  font-size: 14px;
  font-family: var(--font-fam);
}

.social-grid {
  display: grid;
  grid-template-columns: 1fr;
  margin-left: -20px;
}

.social-icon-place {
  width: 20px;
}

.social-channel-section {
  display: flex;
  width: 20px;
}

.social-link-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.social-icon {
  width: 16px;
}

.icon {
  background-color: white;
  border: 1px solid var(--ss-clr);
  border-radius: 4px;
  margin-left: -1px
}